@import '/src/commons/styles/color.scss';
@import '/src/commons/styles/variables.scss';

.fixed-phrase {
  .css-1okebmr-indicatorSeparator,
  .css-109onse-indicatorSeparator{
    display: none;
  }
  .label{
    font-size: 10px;
    left: -3px;
    top: -24px;
  }
  .label:before{
    content:"";
    width:100%;
    height:50%;
    background-color: #fff;
    position: absolute;
    z-index: -1;
    top: calc(50% - 1px);
  }
  > .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: $sm) {
      flex-direction: row;
    }
  }
  > .content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
    max-width: 740px;
    @media (min-width: $sm) {
      flex-direction: row;
    }
    .explanation{
      display:inline-block;
      width: auto !important;
      > p:nth-child(1){
        font-weight: 500;
      }
    }
    
    > .service-list {
      width: 100%;
      overflow: hidden;
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 35px;
      text-align: left;
      > p{
        text-align: left;
        margin-top: 20px;
        font-size: 17px;
        color:#000;
      }
      .MuiPaper-elevation1 {
        box-shadow: none;
        margin-top:12px;
        margin-bottom:16px ;
        .MuiTabs-flexContainer{
          justify-content: center;
          button{
            margin:0 15px;
            font-size:14px;
          }
          button:focus{
            outline:none;
          }
          .MuiTab-textColorPrimary.Mui-selected {
            color: $button-active-color;
          }
        }
        .MuiTabs-scroller{
          overflow-x: auto !important;
        }
        .MuiTabs-indicator{
          background-color: $button-active-color;
          bottom: 9px;
          height:4px;
        }
      }
      > .services {
        display: flex;
        justify-content: flex-start;
        .service {
          height: 45px;
          font-size: 14px;
          line-height: 23px;
          outline: none;
          border: none;
          background: transparent;
          margin-right: 10px;
        }
        .service.active {
          color: $button-active-color ;
          position:relative;
        }
        .service.active:after {
          content:"";
          position:absolute;
          width:calc(100% - 12px);
          height:3px;
          left:6px;
          bottom:0px;
          background-color: $button-active-color;
        }
      }
      div.title {
        text-align: left;
        border-bottom: 1px solid;
        margin-top: 30px;
        margin-bottom: 10px;
        width: 485px;
        > input {
          width: 80%;
          border: none;
          resize: none;
          outline: none;
          font-weight: normal;
          font-size: 12px;
          line-height: 20px;
          background: transparent;
        }
      }
      div.content {
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: row;
        border-radius: 4px;
        border:1px solid $border-color;
        div.editor {
          width: 100%;
          max-height: 675px;
          background: #fff;
          @media (max-width: $sm) {
            padding: 10px 10px 10px 10px;
          }
          padding: 10px 90px 10px 45px;
          position: relative;
          ::placeholder {
            color: #acacac;
          }
          > textarea {
            min-height: 355px;
            width: 100%;
            border: none;
            resize: none;
            outline: none;
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            background: transparent;
          }
          > div.counter {
            position: absolute;
            right: 27px;
            bottom: 11px;
          }
          > .edit-button {
            position: absolute;
            right: 17px;
            top: 10px;
            svg{
              margin-bottom:4px;
            }
            button{
              font-size:14px;
              color:$button-active-color;
              font-weight: 500;
            }
            > .pills {
              width: 70px;
              border-radius: 15px;
              margin: 6px 6px;
              padding: 3px;
              color: $paper-color;
              text-align: center;
              cursor: pointer;
              font-size: 10px;
              font-weight: bold;
              line-height: 17px;
            }
            > .reply-example {
              background: $blue;
            }
            > .register {
              background: $accent-color;
            }
            > .cancel {
              background: $reset-color;
            }
          }
        }
        div.editor-small {
          width: 100%;
          max-height: 85px;
          @media (min-width: $sm) {
            width: 485px;
          }
          @media (max-width: $sm) {
            padding: 10px 10px 10px 10px;
          }
          padding: 10px 90px 10px 45px;
          position: relative;
          background: $background-color-contrast;
          ::placeholder {
            color: #acacac;
          }
          > textarea {
            min-height: 65px;
            width: 100%;
            border: none;
            resize: none;
            outline: none;
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            background: transparent;
          }
          > .edit-button {
            position: absolute;
            right: 17px;
            top: 10px;
            button{
              font-size:14px;
              color:$button-active-color;
              font-weight: 500;
            }
            > .pills {
              width: 70px;
              border-radius: 15px;
              margin: 6px 6px;
              padding: 3px;
              color: $paper-color;
              cursor: pointer;
              font-size: 10px;
              font-weight: bold;
              line-height: 17px;
              text-align: center;
            }
            > .register {
              background: $accent-color;
            }
            > .cancel {
              background: $reset-color;
            }
          }
        }
      }
      div.url-box {
        margin-top: 20px;
        text-align: left;
        .link-name {
          display: flex;
          align-items: baseline;
          >div{
            >div{
              font-size:16px;
              box-sizing: border-box;
              width:320px;
              height:40px;
            }
            >div:hover{
              border-color:#000 ;
            }
          }
        }
        .urlField{
          margin-top: 14px;
          height: 40px;
          width: 100%;
          border-radius: 4px;
          padding: 0 10px;
          font-size: 16px;
          box-sizing: border-box;
          border: 1px solid rgba(0, 0, 0, 0.12);
        }
        input:disabled,
        .css-1insrsq-control {
          background: #f0f0f0;
          border: 1px solid rgba(0, 0, 0, 0.12);
          color: #acacac;
        }
      }
      div.editor.active {
        background:#f0f0f0 !important;
      }
      .cancel2,
      .preview,
      .submit{
				font-weight: 500;
				font-size: 12px;
				letter-spacing: 0.17px;
        line-height: 1;
				padding:11px;
				width:90px;
				height:43px;
        color:#fff;
        background-color:$button-active-color;
			}
      .cancel2,
      .preview{
        background-color: #fff;
        color:$button-active-color;
      }
      .MuiInputBase-root{
        border-color:$border-color;
        height:40px;
      }
      button:focus{
        outline:none;
      }
    }
  }
}
