@import 'src/commons/styles/color.scss';
.modal{
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display: none;
	.modalBack{
		position: fixed;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background-color:rgba(0,0,20,.5);
	}
	#modalBody{
		opacity:0;
		transition:.5s;
		top:30%;
	}
	.modalBody{
		position: absolute;
		width: 489px;
		height: 413px;
		background: #FFFFFF;
		border: 1px solid rgba(0, 0, 0, 0.26);
		border-radius: 4px;
		padding:30px 30px 40px;
		left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
		.textArea{
			margin-bottom:0;
			> div{
				background: #FFFFFF;
				width:100%;
				height:200px;
				textarea{
					height:100%;
					padding:0;
				}
			}
		}
		.flex{
			display: flex;
			justify-content: center;
			.back,
			.submit{
				margin:100px 15px 0;
				font-weight: 600;
				font-size: 14px;
				line-height: 1;
				padding:11px;
				width:150px;
				height:43px;
			}
			.back{
				color: $button-active-color;
				border-color:$button-active-color;
			}
			.submit{
				color:#fff;
				background-color:$button-active-color;
			}
		}
	}
}