@import 'src/commons/styles/variables.scss';
@import 'src/commons/styles/color.scss';

.user-approver-modal {
	.modal-dialog {
		max-width: none;
		justify-content: center;
	}
  .modal-content {
    border: 0;
    padding-bottom: 20px;
    // margin: 16px 17px 27px 33px;
    // border-radius: 22px;
		border-radius: 4px;
    // width: 456px;
		width: 399px;
    > .settings-list {
      margin-top: 40px;
      .settings {
        margin: 0 5% 20px 5%;
				display: flex;
				justify-content: center;
        @media (min-width: $sm) {
          margin: 0 20% 20px 20%;
        }
				.approve-label {
					display: flex;
					align-items: center;
				}
				.title {
					font-size: 16px;
				}
				.MuiButtonBase-root {
					color: $button-active-color;
					padding: 0;
					margin-bottom: 3px;
				}
        .subtitle {
          font-size: 10px;
          // color: $border-color;
          color: rgba(0,0,0,.6);
					line-height: 24px;
					width: 219px;
					margin-top: 7px;
        }
      }
    }
    > .recognizers {
      display: flex;
      align-items: center;
      flex-direction: column;
      > .list {
        display: flex;
        flex-direction: column;
        width: 285px;
        > .header {
          margin-left: 10px;
        }
        > .add-icon {
          align-self: center;
          // margin: 20px;
					margin: 13px 0 23px;
          cursor: pointer;
					width: 17px;
					height: 17px;
        }
        > .user-approver {
          display: flex;
          flex-direction: column;
          // margin-bottom: 10px;
          div.text {
						// color: $black;
						color: rgba(0,0,0,.6);
            font-weight: 400;
            text-align: left;
            font-size: 10px;
						width: 50px;
						background-color: $paper-color;
						position: relative;
						top: 9px;
						left: 10px;
          }
          span.circle {
            border-radius: 50%;
            display: inline-block;
            height: 15px;
            line-height: 15px;
            border: 1px solid $gray;
            font-size: 10px;
          }
          > select {
            height: 38px;
            background: $paper-color;
            border: 1px solid $border-color;
            outline: none;
          }
          select.approver {
            // padding: 0 5px;
						padding: 8px 12px;
						border-radius: 4px;
						color: rgba(0,0,0,.6);
          }
        }
      }
    }
  }
}
