@import 'src/commons/styles/color.scss';
@import 'src/commons/styles/variables.scss';

.example-modal {
  .panel {
    margin-top: 10px;
    color: $black;
    width: 100%;
    height: 500px;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    outline: none;
    resize: none;
  }
  .dropdown-wrapper {
    width: 260px;
    text-align: left;
    .css-yk16xz-control {
      min-height: 22px;
      .css-1okebmr-indicatorSeparator {
        display: none;
      }
      .css-tlfecz-indicatorContainer {
        color: $text-color;
      }
      .css-1wa3eu0-placeholder {
        color: $black;
        font-size: 13px;
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    button {
      margin:50px 15px 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 1;
      padding:11px;
      width:150px;
      height:43px;
    }
  }
  .back{
    color: $button-active-color;
    border-color:$button-active-color;
  }
  .submit{
    color:#fff;
    background-color:$button-active-color;
  }
}
