@import 'src/commons/styles/color.scss';

.user-permission-modal {
  .modal-content {
    display: flex;
    position: relative;
    justify-content: center;
    // width: 456px;
		width: 520px;
    // height: 442px;
		height: 358px;
    background: $paper-color;
    border: 1px solid $border-color;
    border-radius: 4px;
    color: $gray;

    .header {
      font-weight: 400;
      color: $black;
      // margin: -30px auto 30px;
      margin: -30px auto 24px;
			font-size: 16px;
			flex-direction: column;
			text-align: center;
			padding-top: 40px;
			> .note {
				font-size: 10px;
				font-weight: 400;
				padding-top: 8px;
				color: rgba(0,0,0,.6);
			}
    }
    .settings {
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: space-around;
			justify-content: center;
      // margin: 0 10% 0 10%;
      .label {
        text-align: end;
				// margin: 0 71px 0 0;
				margin: 0 58px 0 0;
        .question {
          // width: 20px;
					width: 15px;
          // margin-right: 5px;
					margin-left: 5px;
					vertical-align: -15%;
        }
      }
			.option {
				// margin-bottom: 11px;
				label {
					margin: 0;
					> .MuiButtonBase-root{
						padding: 0;
						> .MuiIconButton-label {
							> input {
								position: absolute;
							}
						}
					}
					> .MuiTypography-body1 {
						font-size: 14px;
						margin-right: 4px;
					}
				}
				&:last-of-type {
					margin-left: 36px;
				}
			}
      div > div {
        // margin-bottom: 24px;
				font-size: 14px;
				text-align: left;
				font-weight: 400;
				color: $black;
      }
			div > div:last-child {
				margin-top: 23px;
			}
			.MuiCheckbox-colorSecondary.Mui-checked {
					color: $button-active-color;
				}
    }
    .actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
      button:not(:last-child) {
        // margin-bottom: 14px;
				margin-bottom: 20px;
        font-size: 0.75rem;
      }
      button[type='reset'] {
        font-size: 12px;
				height: 43px;
      }
			button[type='button'] {
				margin-top: 0;
				width: 149px;
				height: 43px;
			}
      .link {
        text-decoration: underline;
        // color: blue;
				color: $button-active-color;
				text-decoration: none;
        cursor: pointer;
        margin-bottom: 14px;
      }
    }
    .delete-btn {
      position: absolute;
      right: 20px;
      bottom: 20px;
      cursor: pointer;
    }
  }
}
