@import 'src/commons/styles/color.scss';
@import 'src/commons/styles/variables.scss';

.dashboard-page {
  padding: 12px 9px 9px 12px;
  @media (min-width: $sm) {
    padding: 32px 29px 29px 53px;
  }

  > .explanation {
    display: inline-flex;
    flex-direction: column;
    width: calc(100% - 345px);
  }
  > .explanation p {
    font-weight: 500;
  }
  > .explanation a {
    color: var(--side-menu-color);
  }
  
  > .selectors-menu button {
    width: 145px;
		height: 36px;
		font-size: 14px;
		color: $paper-color;
		background-color: $button-active-color;
		padding: 8px 15px;
   }
  > .header {
    display: flex;
    justify-content: space-between;
  }
  > .selectors-menu {
    display: inline-flex;
    flex-direction: row;
    width: 345px;
  } 
  .container {
		background-color: $paper-color;
		// padding: 21px 30px;
		padding: 28px;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
		border-radius: 16px;
		margin: 20px auto 0 0;
		height: auto;	
  }
   
  .filter-pages {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 3px; */
    margin-bottom: 0px;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #bbb;
    border-bottom: none;
    > .filters {
      display: flex;
      justify-content: flex-start;
      > div {
        /* margin: 10px 20px 0px 20px; */
        margin: 0px;
        line-height: 30px;
      }
      .react-datepicker__tab-loop {
        margin: 0;
      }
    }
    > .pages {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 12px;
      div.dropdown {
        .dropdown-menu {
          a {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
      .dropdown-toggle::after {
        content: none;
      }
    }
  }
  .list {
    overflow-x: auto;
    border-radius: 0px;
    border: 1px solid #bbb;
    border-top: none;
    > div.table {
      table-layout: fixed;
      margin-bottom: 0;
      > div.thead .cell {
        /* border-top: 1px solid rgba(0, 0, 0, 0.22); */
        .icon-svg {
          height: 25px;
          width: 25px;
        }
        .insta-icon {
          margin-right: 4px;
        }
      }
      > div.thead,
      div.tbody {
        display: block;
        min-width: 1220px;
        overflow-y: scroll;
      }
      > div.tbody .cell {
        color: $black;
      }
      > div.thead div.row,
      div.tbody div.row {
        width: 100%;
        height: 45px;
        text-align: center;
        margin: 0;
        cursor: pointer;
        > div.cell {
          /* font-weight: bold; */
          /* font-weight: 500; */
          font-weight: 700;
          color: rgba(0, 0, 0, 0.87);
          font-size: 14px;
          line-height: 21px;
          display: flex;
          align-items: center;
          /* justify-content: flex-start; */
          justify-content: center;
          margin: 0 0;
          position: relative;
          padding: 0 10px;
          > div.delete {
            color: #0000ff;
          }
          > div.deleted {
            color: #ff0101;
          }
          > div.linePosted {
            color: #f9951a;
          }
          > div.lineUnPosted {
            color: #000;
          }
        }
        > div.cell.column {
          justify-content: space-around;
        }
        > div.cell.content {
          display: block;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 5px;
          color: $black;
        }
        a.insta-link:link {
          color: $black;
        }
        a.insta-link:visited {
          color: $black;
        }
        a.insta-link:active {
          color: $black;
        }
        a.insta-link:hover {
          color: #0000ff;
        }
        span.highlight {
          svg {
            path {
              fill: rgb(213, 91, 254);
            }
          }
        }
        > div.cell:not(:last-child) {
          /* border-right: 1px solid rgba(0, 0, 0, 0.22); */
          position: relative;
          background-color: transparent;
        }
      }
      > div.thead div.row,
      div.tbody div.row {
        border-bottom: 1px solid #bbb;
        table-layout: fixed;
        min-height: 56px;
        max-height: 56px;
        line-height: 56px;
        .w200 {
          width: 200px;
        }
        .w231 {
          width: 231px;
        }
        .w97 {
          width: 97px;
        }
      }
      > div.tbody {
        height: calc(100vh - 358px);
        @media (min-width: $sm) {
          height: calc(100vh - 298px);
        }
        overflow-x: hidden;
        div.row div.cell {
          font-weight: normal;
        }
        div.row:nth-child(odd) {
          div.cell {
            /* background: $background-color-list-odd; */
            background: none;
          }
        }
      }
      div.thead div.row div.cell {
        /* border-bottom: 1px solid rgba(0, 0, 0, 0.22); */
        border-bottom: none; 
      }
    }
  }
}

.select-width-select-days {
  width: 180px;
}

.react-datepicker-wrapper {
  display: none;
}

.table-pagination{
  color: #000;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 1px solid #bbb;
  border-radius: 0px 0px 4px 4px;
  border-top: none;
}

.itemcount{
  font-size: 14px;
  margin: 0px 10px;
}

.pagination {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  margin: 0px 10px;
}

.pagination > div.active {
  color: var(--side-menu-color);
}

.filters .dropdown-toggle::after{
  display: none;
}

.filter-pages svg g {
  fill: var(--side-menu-color);
}

.filters .btn {
  padding: 0px 12px;
}

.filters .dropdown a .filtertitle {
  color: var(--side-menu-color);
  font-size: 13px;
  font-weight: 500;
}

.filters .dropdown a {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 12px 0px;
  display: flex;
}

.filters .dropdown a svg {
  margin-right: 12px;
  margin-top: 2px;
}

div.thead div.row div.cell:not(:last-child):after {
  content: '';
  height: 1em;
  width: 2px;
  position: absolute;
  right: -1px;
  top: 20px;
  background-color: #e0e0e0;
}     

@media (min-width: 768px) {
  .desktop-margin-left-20{
    margin-left: 20px;
  }
}
@media (min-width: 992px) {
  .desktop-margin-left-20{
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  .desktop-margin-left-20{
    margin-left: 20px;
  }
}