@import 'src/commons/styles/color.scss';

.remand-delete-confirm-modal,
.remand-delete-msg-modal {
  > .modal-dialog {
    justify-content: center;
    max-width: 464px;
    .modal-content {
      height: 287px !important;
      border-radius: 4px;
      border: 1px solid $border-color;
      .modal-body {
        .row {
          .padding-left-right {
            padding-left: 46px;
            padding-right: 45px;
            font-size: 18px;
            line-height: 28px;
            color: $gray;
            margin-top: 25px;
            font-weight: 600;
            margin-bottom:20px;
            .delete-msg {
              margin-bottom: 0;
            }
            .completed-msg {
              margin-bottom: 0;
              margin-top: 50px;
            }
          }
          .success-button {
            margin-top: 36px;
            height: 37px;
            width: 114px;
            background: linear-gradient(0deg, $accent-color, $accent-color),
              linear-gradient(180deg, #f15b5b 0%, rgba(255, 255, 255, 0) 100%);
            border: 1px solid $paper-color;
            border-radius: 10px;
            color: $paper-color;
            font-size: 12px;
            line-height: 18px;
            font-weight: bold;
          }
          .cancel-button {
            height: 37px;
            width: 114px;
            background: $reset-color;
            border: 1px solid #ffffff;
            border-radius: 10px;
            margin-top: 13px;
            color: $paper-color;
          }
        }
      }
    }
  }
}
