@import 'src/commons/styles/color.scss';
@import 'src/commons/styles/variables.scss';

.location-info > .explanation{
  padding-top:10px;
}
.location-info {
  $border: 1px solid rgba(0, 0, 0, 0.22);
  $block:80px;
  .info-content {
    margin-top: 40px;
    padding:16px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
    .tab-container {
      overflow-x: auto;
      .flex{
        justify-content: flex-start;
        text-align: left;
        margin-top:11px;
        margin-bottom:31px; 
      }
      .search input{
        font-size: 12px;
        height: 40px;
        box-sizing: border-box;
        padding-left:14px;
      }
      .MuiOutlinedInput-adornedStart{
        padding-left:4px;
      }
      .button{
        color:#fff;
        background-color: $button-active-color;
        font-weight: 500;
        font-size: 14px;
        width:65px;
        height:40px;
        margin-left:13px;
      }
      .button:focus{
        outline: none;
      }
      table {
        display: flex;
        flex-flow: column;
        height: 100%;
        min-height: 544px;
        width: 100%;
        min-width: 1007px;
        table-layout: auto;
        color: $black;
        border-radius: 4px;
        border:1px solid #e0e0e0;
      }
      table thead {
        /* head takes the height it requires, 
            and it's not scaled when table is resized */
        flex: 0 0 auto;
        width: 100%; 
        position: sticky;
        top: 0;
        th{
          font-weight: 500;
          font-size: 10px;
          white-space: nowrap;
          border-bottom:none;
          border-top:none;
          position:relative;
          height:39px;
        }

        tr:nth-child(1){
          th:nth-child(1){
            width: auto;
          }
          th:nth-child(2){
            background-color: $button-active-bg-color;
            width:$block * 3;
          }
          th:nth-child(3){
            width:$block * 4;
          }
          th:nth-child(4){
            background-color: $button-active-bg-color;
            width:$block * 3;
          }
          th:nth-child(5){
            width:100px;
          }
        } 
        tr:nth-child(2){
          th{
            width:$block;
            font-size: 10px;
          }
          th:nth-child(13){
            width:100px;
          }
          th:nth-child(1),
          th:nth-child(2){
            width:auto;
          }
          th:nth-child(3),
          th:nth-child(4),
          th:nth-child(5),
          th:nth-child(10),
          th:nth-child(11),
          th:nth-child(12){
            background-color: $button-active-bg-color;
          }
          th:nth-child(2):before,
          th:nth-child(3):before,
          th:nth-child(6):before,
          th:nth-child(10):before,
          th:nth-child(13):before{
            content:"";
            width:1px;
            height:14px;
            background-color:  #e0e0e0;
            position:absolute;
            left:0;
            top:11px;
          }

        } 
      }

      table tbody {
        /* body takes all the remaining available space */
        flex: 1 1 auto;
        display: block;
        height: calc(100vh - 378px);
        @media (min-width: $sm) {
          height: calc(100vh - 300px);
        }
        tr {
          width: 100%;
          td{
            font-size:12px;
            height:64px;
            width:$block;
          }
          td:nth-child(1),
          td:nth-child(2){
            width:auto;
          }
          td:nth-child(3),
          td:nth-child(4),
          td:nth-child(5),
          td:nth-child(10),
          td:nth-child(11),
          td:nth-child(12){
            background-color: $button-active-bg-color;
          }
          td:nth-child(13){
            width:100px;
          }
        }
        tr:last-of-type {
          width: 100%;
          border-bottom: $border;
        }
      }
      table thead,
      table tbody tr {
        display: table;
        table-layout: fixed;
        td,
        th {
          vertical-align: middle;
          padding:0 8px;
        }
      }
  
      td.ellipsis {
        padding: 0 5px;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .small-font {
        font-size: 10px;
      }
      span.filter {
        cursor: pointer;
        margin: 5px;
      }
    }
  }
  > .pages {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    div.dropdown {
      .dropdown-menu {
        a {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    .dropdown-toggle::after {
      content: none;
    }
  }
}
