@import 'src/commons/styles/variables';
@import 'src/commons/styles/color';

.inquiry-page {
  min-height: 400px;
  padding: 9px 9px 9px 14px;
	text-align: left;
  @media (min-width: $sm) {
    min-height: 700px;
    padding: 40px 25px;
  }

	div.explanation p {
		font-size: 1rem;
		font-weight: 400;
	}
	.MuiInputLabel-root {
		color: $black;
	}
	.MuiInputLabel-root {
		transform: translate(0, 1.5px) scale(1);
		position: relative;
		margin-bottom: 8px;
	}
	.MuiInputBase-root {
		margin-top: 0;
	}

  > .input {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: $gray;
    > select {
      width: 100%;
      outline: none;
      height: 38px;
    }
    > textarea {
			color: $font-color-black;
			width: 100%;
      max-width: 500px;
			min-height: 117px;
      outline: none;
      resize: none;
			border: 1px solid $border-color;
      border-radius: 4px;
			font-size: 1rem;
			padding: 8px 11px;
			margin-bottom: 19px;
			&:hover {
				color: $font-color-gray;
			}
    }
		> .MuiFormControl-root {
			margin: 0 0 26px;
		}
		> div {
			font-size: 1rem;
			color: $black;
			position: relative;
			margin-bottom: 8px;
		}
		> div.explanation {
			margin-bottom: 20px;
		}
  }
  .contact {
    color: $reset-color;
    margin-top: 38px;
    .phone-message {
      font-weight: bold;
    }
    .phone-number {
      font-size: 25px;
      font-weight: bold;
    }
    .phone-hour {
      font-size: 12px;
			font-weight: bold;
    }
  }
	.MuiButton-containedPrimary {
		background: $prime-color;
    border-radius: 4px;
		margin-right: 16px;
		min-width: 93px;
		height: 36px;
	}
	.MuiButton-outlinedSecondary {
		color: $prime-color;
		border: 1px solid $prime-color;
    border-radius: 4px;
		min-width: 76px;
		height: 36px;
	}
	.contact {
		> .phone-message {
			font-size: 15px;
			font-weight: 400;
			font-family: "Roboto", "Helvetica", "Arial", sans-serif;
			color: $black;
			margin-bottom: 9px;
		}
		> .phone-number {
			font-size: 24px;
			font-weight: 400;
			font-family: "Roboto", "Helvetica", "Arial", sans-serif;
			color: $black;
			margin-bottom: 16px;
			line-height: 1;
		}
		> .phone-hour {
			font-size: 16px;
			font-weight: 400;
			font-family: "Roboto", "Helvetica", "Arial", sans-serif;
			color: $black;
		}
	}
	.MuiNativeSelect-icon {
		right: 10px;
	}
}
