@import 'src/commons/styles/color.scss';
@import 'src/commons/styles/variables.scss';

.approval-review-modal {
  > .modal-dialog {
    max-width: 456px;
    .modal-content {
      height: 800px;
      border-radius: 4px;
      border: 1px solid $border-color;
      .modal-body {
        padding: 0;
        .remand-row {
          height: 800px;
          textarea.custom:disabled {
            background-color: $paper-color;
          }
          .right {
            height: 100%;
            .review-user {
              width: 90%;
              height: 76px;
              margin-top: 30px;
              outline: 0;
              @media (min-width: $sm) {
                width: 424px;
              }
            }
            .google-user {
              display: flex;
              flex-direction: row;
              padding-left: 22px;
              .user-image {
                margin-right: 10px;
              }
              .user_details {
                .user-name {
                  display: flex;
                }
              }
              .line {
                display: flex;
              }
            }
            .section {
              margin: 22px 0 0 0;
            }
            .reply-content {
              font-size: 13px;
              margin: 7px 20px;
            }
            .review-reply {
              width: 90%;
              height: 193px;
              outline: 0;
              font-size: 16px;
              line-height: 24px ;
              letter-spacing: 0.15px;
              @media (min-width: $sm) {
                width: 424px;
              }
            }
            .review-bottom-text {
              font-weight: normal;
              font-size: 10px;
              line-height: 12px;
              display: flex;
              padding: 0 30px 0 15px;
              align-items: center;
              color: rgba(0, 0, 0, 0.4);
            }
            .dropdown-wrapper {
              margin-top: 37px;
            // .reply-header {
            //   display: flex;
            //   justify-content: space-between;
            //   height: 40px;
            //   padding: 0 16px;
            //   text-align: left;
             
                // .css-yk16xz-control {
                //   border: none;
                //   min-height: 22px;
                //   .css-1okebmr-indicatorSeparator {
                //     display: none;
                //   }
                //   .css-tlfecz-indicatorContainer {
                //     color: $text-color;
                //   }
                //   .css-1wa3eu0-placeholder {
                //     color: $black;
                //     font-size: 13px;
                //   }
                //}
              //}
            }
            .image-area{
              border: 1px dashed #cc0099;
              color:#cc0099;
              border-radius: 4px;
              height: 140px;
              display: flex;
              justify-content: center;
              flex-direction: column;
              width:424px;
              margin:0 auto;
              svg{
                display: block;
                width: 100%;
              }
            }
          }
        }
        .success-button {
          margin-top: 65px;
          height: 36px;
          width: 114px;
          background: linear-gradient(0deg, $accent-color, $accent-color),
            linear-gradient(180deg, #f15b5b 0%, rgba(255, 255, 255, 0) 100%);
          border: 1px solid $paper-color;
          border-radius: 10px;
          color: $paper-color;
          font-size: 12px;
          line-height: 18px;
          font-weight: bold;
        }
        .pivot-button-margin {
          margin-top: 14px !important;
        }
        .cancel-button {
          height: 36px;
          width: 114px;
          background: $reset-color;
          border: 1px solid #ffffff;
          border-radius: 10px;
          margin-top: 13px;
          color: $paper-color;
        }
      }
    }
  }
  .modal-body{
    textarea.MuiInputBase-input{
      font-size: 16px;
      line-height: 24px ;
      letter-spacing: 0.15px;
      color:$text-color2;
    }
    .MuiFormControl-root{
      width:424px;
      margin:0 auto;
    }
    .flex{
      margin-top:40px;
    }
  }
  .MuiOutlinedInput-multiline{
    padding:8px 12px;
  }
}