@import 'src/commons/styles/color.scss';
@import 'src/commons/styles/variables.scss';

.user-create-page {
  text-align: left;
  padding: 9px 9px 9px 14px;
  @media (min-width: $sm) {
    // padding: 25px 25px 25px 50px;
		padding: 29px 15px;
  }
	div.explanation {
		margin: 0 0 16px !important;
		p {
			font-weight: 400;
			font-size: 12px;
		}
	}
  .header {
    display: flex;
    // justify-content: space-between;
    margin: 18px 46px 0 0;
    .username {
      display: block;
      margin: 0 0 9px 0;
      @media (min-width: $sm) {
        margin: 0 0 20px 0;
      }
      .search {
        margin: 0 auto;
        width: 50%;
        color: $gray;
        @media (min-width: $sm) {
          width: 571px;
        }
				>.header-num {
					font-size: 17px;
					color: $black;
					vertical-align: -8%;
				}
				>.header-desc {
					font-size: 12px;
					font-weight: 400;
					color: $black;
				}
        div.input {
          display: flex;
          flex-direction: row;
          > input {
            padding: 4px 0 4px 13px;
          }
					.MuiOutlinedInput-multiline {
						width: 220px;
						font-size: 14px;
						padding: 8px 7px 8px 7px;
						background-color: $paper-color;
					}
          .delete {
            margin: auto 29px;
            cursor: pointer;
          }
        }
        .dummy {
          display: none;
        }
      }
    }
  }
  .locations {
    height: 430px;
    overflow-y: auto;
    background-color: $paper-color;
    border-radius: 16px;
    @media (min-width: $sm) {
      height: 630px;
      // padding: 0 46px 20px 50px;
			padding: 35px 19px 99px;
    }
		.locations-box {
			border: 1px solid #E0E0E0;
			border-radius: 4px;
			padding: 24px 20px 72px;
			.table-list {
				border: none;
				> div {
					width: 25%;
					border-right: 0;
				}
				> div:nth-child(10n + 1), div:nth-child(10n + 2), div:nth-child(10n + 3), div:nth-child(10n + 4), div:nth-child(10n + 5) {
					background-color: $paper-color;
				}
				.MuiCheckbox-colorSecondary.Mui-checked svg path {
					color: $button-active-color;
				}
				.MuiFormControlLabel-label {
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
				}
			}
		}
		button.MuiButtonBase-root {
			color: $paper-color;
			background-color: $button-active-color;
		}
    .label {
      margin: 7px 0;
      // text-decoration: underline;
      // font-size: 14px;
			font-size: 17px;
      line-height: 21px;
			> .select-num {
				font-size: 20px;
			}
    }
    span.ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 5px;
    }
    .locations-header {
      margin: 10px;
      // display: flex;
      // justify-content: space-between;
      > .search-box {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        > .search-input {
          margin-right: 6px;
          @media (min-width: $sm) {
            width: 266px;
            margin-right: 12px;
          }
        }
      }
    }
  }
}
