@import 'src/commons/styles/color.scss';
@import 'src/commons/styles/variables.scss';

.location-page {
  padding: 40px 25px;
  .head{
    display: flex;
    justify-content:space-between;
    .explanation p{
      display: block;
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      margin-bottom:12px;
      color:$font-color-black;
    }
  }
  #locName {
    text-align: left;
    font-size: 17px;
    color: $font-color-black;
    line-height: 1;
    margin-bottom:28px;
  }
  .flex{
    display: flex;
  }
  .back,
  .submit{
    margin:100px 15px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    padding:11px;
    width:150px;
    height:40px;
  }
  .back{
    color: $prime-color;
    border-color:$prime-color;
  }
  .submit{
    color:$font-color-white;
    background-color:$prime-color;
  }
  .MuiFormControl-root{
    display: block;
    fieldset{
      border:1px solid $border-color;
    }
    input{
      height:33px;
      width:226px;
      color:$font-color-black;
    }
  }
  .MuiOutlinedInput-input {
    padding: 4px 10px;
    box-sizing: border-box;
  }
}
