@import '/src/commons/styles/color.scss';
@import '/src/commons/styles/variables.scss';

.MuiToggleButton-root.Mui-selected {
  background-color:transparent;
}
a{
  line-height: 1;
  padding:17px 12px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.54);
}
a:hover{
  color:#000;
}
.MuiButtonBase-root{
  padding:0;
  background-color: #fff;
}
.MuiToggleButtonGroup-groupedHorizontal:not(:first-child) {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:12px;
  div.explanation{
    margin-bottom:0 !important;
  }
}
.location-navigation{
  text-align: left;
  display: block;
  button{
    color:$button-active-color;
    overflow: hidden;
    a{
      width:140px;
      background-color: #fff;
    }
    a.active{
      color: $button-active-color;
      background-color: $button-active-bg-color;
    }
  }
}
.MuiSelect-outlined.MuiSelect-outlined{
  height:40px;
  box-sizing: border-box;
  padding:4px 32px 4px 12px;
  font-size: 16px;
  letter-spacing: 0.15px;
}
.MuiSelect-select{
  background-color: #fff;
}
.MuiSelect-select:focus{
  background-color: #fff;
}
.MuiInputLabel-outlined {
  transform: translate(14px, 12px) scale(1);
}
