@import '/src/commons/styles/color.scss';
@import '/src/commons/styles/variables.scss';

.MuiToggleButton-root.Mui-selected {
  background-color:transparent;
}
a{
  line-height: 20px;
  padding:14px;
  color:rgba(0, 0, 0, 0.54);
}
a.active{
  color: $button-active-color;
  background-color: $button-active-bg-color;
}
.MuiButtonBase-root{
  padding:0;
}