@import 'src/commons/styles/color.scss';

.user-password-modal {
	.modal-dialog {
		max-width: none;
		justify-content: center;
	}
  .modal-content {
    // width: 456px;
    // height: 442px;
		width: 399px;
		min-height: 448px;
    display: flex;
    // justify-content: center;
    align-items: center;
    background: $paper-color;
    border: 1px solid $border-color;
    border-radius: 4px;
    color: $gray;
    // padding: 64px 15% 24px 15%;
		padding: 35px 36px 41px;
    .header {
      display: flex;
			flex-direction: column;
      // justify-content: space-around;
			text-align: center;
      color: $black;
      font-weight: 400;
      width: 235px;
			margin: 0;
			> .config {
				font-size: 16px;
			}
			> .desc1 {
				font-size: 10px;
				color: rgba(0,0,0,.6);
				padding-top: 11px;
			}
			> .desc2 {
				font-size: 10px;
				padding-top: 7px;
				color: rgba(0,0,0,.6);
			}
			> .flex-container {
				justify-content: center;
				padding-top: 28px;
			}
    }
    .body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .credentials {
        display: flex;
        flex-direction: column;
        // margin-top: 31px;
				margin-top: 14px;
        // border: 1px solid $border-color;
        width: 235px;
        .cred {
          // border: none;
					border: 1px solid $border-color;
          outline: none;
          padding: 0 15px;
          font-weight: 400;
					border-radius: 4px;
					margin-bottom: -1px;
        }
        > .cred::placeholder {
          color: $gray;
        }
      }
      .caption {
        align-self: flex-end;
        font-weight: 400;
        font-size: 10px;
        margin-top: 5px;
      }
      > .message {
        min-height: 18px;
        margin: 16px 0;
        font-weight: 600;
        font-size: 11px;
        text-align: center;
        color: $text-color-selected;
      }
    }

    .actions {
      display: flex;
      // flex-direction: column;
      align-items: center;
      > button {
        font-size: 14px;
				font-weight: 600;
				width: 149px;
				height: 43px;
				margin-top: 0;
      }
      > button:first-child {
				// margin-bottom: 13px;
				margin: 0 29px 0 0;
				margin-right: 29px;
				background-color: $paper-color;
				color: $button-active-color;
				border: 1px solid $button-active-color;
      }
    }
  }
}
