.card-parent-div-line-chart {
  margin-top: 20px;
  // height: 200px;
}

.line-chart-parent-div-line-comp {
  height: 180px;
}

.line-chart-parent-div {
  height: 330px;
  width: 100%;
  text-align: left;
  padding: 20px;
}

.header-line-chart {
  display: inline-block;
  font-size: 20.48px;
  color: #25262b;
}
