@import 'src/commons/styles/color.scss';

.menu-delete-modal {
  .modal-content {
    width: 464px;
    height: 287px;
    border-radius: 22px;
    border: 1px solid $border-color;
    .row {
      .padding-label {
        margin-top: 22px;
        font-size: 12px;
        line-height: 28px;
        color: $gray;
        font-weight: 600;
      }
      .padding-left-right {
        padding-left: 46px;
        padding-right: 45px;
        font-size: 18px;
        line-height: 28px;
        color: $gray;
        margin-top: 10px;
        font-weight: 600;
        .delete-msg {
          margin-bottom: 0;
        }
      }
      .success-button {
        margin-top: 36px;
        height: 36px;
        width: 114px;
        background: linear-gradient(0deg, $accent-color, $accent-color),
          linear-gradient(180deg, #f15b5b 0%, rgba(255, 255, 255, 0) 100%);
        border: 1px solid $paper-color;
        border-radius: 10px;
        color: $paper-color;
        font-size: 12px;
        line-height: 18px;
        font-weight: bold;
      }
      .cancel-button {
        height: 36px;
        width: 114px;
        background: $reset-color;
        border: 1px solid #ffffff;
        border-radius: 10px;
        margin-top: 13px;
        color: $paper-color;
        font-size: 12px;
        font-weight: 700;
      }
    }
  }
}
