$paper-color: #fff;
// $background-color: rgba(229, 229, 229, 0.35);
$background-color-contrast: var(--contrast-color);
$background-color-list-odd: var(--contrast-color);
$nav-color: #181818;
$text-color: #4b4b4b;
$text-color-selected: #ff8c05;
$validation-error-color: #ff0000;
$divider-color: #d3d3d3;
$black: #000;
$gray: #9b9b9b;
// $border-color: #828282;
$address-color: #ffa07a;
$active-color: #dc9090;
$blue: #43b9de;
$side-menu-color: var(--side-menu-color);
$side-menu-selected-color: var(--side-menu-selected-color);
$accent-color: var(--side-menu-color);
$reset-color: #828282;
$loading-background-color: rgba(0, 0, 0, 0.5);
$menu-hover-color: #cc0099;
$header-text-color: var(--header-text-color);
$button-active-bg-color:#fbebf7;
$button-active-color:#cc0099;
$switch-active-bg-color:#e580cc;
$switch-bg-color:#9c9299;
$inquiry-border-color: #c5c5c5;
$inquiry-border-color-2: #E68DCF;
$user-border-color: #E0E0E0;
$text-color2:#666666;
// mob
$prime-color:var(--prime-color); // #cc0099
$second-color:var(--second-color); // #F8CCEE
$third-color:var(--third-color);  // #fbebf7
$background-color:var(--background-color); // #f3f4f6
$paper-color: #fff;
$tooltip-color:var(--tooltip-color); // #757575
$button-active-main-color:var(--prime-color);// #cc0099
$button-active-back-color:var(--button-active-back-color);// e580cc
$border-color:var(--border-color); // ?これから
$button-disabled-main-color:#ffffff;
$button-disabled-back-color:#919191;
$font-color-black:#000000;
$font-color-gray:#757575;
$font-color-lightGlay:#999999;
$font-color-white:#ffffff;
$attention-color:#D32F2F;