$paper-color: #fff;
$background-color: rgba(229, 229, 229, 0.35);
$background-color-contrast: var(--contrast-color);
$background-color-list-odd: var(--contrast-color);
$nav-color: #181818;
$text-color: #4b4b4b;
$text-color-selected: #ff8c05;
$validation-error-color: #ff0000;
$divider-color: #d3d3d3;
$black: #000;
$gray: #9b9b9b;
$border-color: #828282;
$address-color: #ffa07a;
$active-color: #dc9090;
$blue: #43b9de;
$side-menu-color: var(--side-menu-color);
$side-menu-selected-color: var(--side-menu-selec
ted-color);
$accent-color: var(--side-menu-color);
$reset-color: #828282;
$loading-background-color: rgba(0, 0, 0, 0.5);
$menu-hover-color: #cc0099;
$header-text-color: var(--header-text-color);
$button-active-bg-color:#fbebf7;
$button-active-color:#cc0099;
$switch-active-bg-color:#e580cc;
$switch-bg-color:#9c9299;
$inquiry-border-color: #c5c5c5;
$inquiry-border-color-2: #E68DCF;
