@import 'src/commons/styles/color.scss';

// .recognition-navigation {
//   width: 100%;
//   display: flex;
//   height: 54px;
//   align-items: center;
//   .tab {
//     margin-right: 25px;
//     font-weight: bold;
//     font-size: 14px;
//     line-height: 23px;
//     > a {
//       color: $text-color;
//     }
//     .navigation-active {
//       color: $text-color-selected;
//       text-decoration: underline;
//     }
//   }
//   .calendar-filter {
//     cursor: pointer;
//   }
// }
a{
  line-height: 1;
  padding:17px 12px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.54);
}
a:hover{
  color:#000;
  text-decoration: none;
}
.MuiButtonBase-root{
  padding:0;
}

.MuiToggleButtonGroup-groupedHorizontal:not(:first-child) {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.flex{
  display: flex;
}
.recognition-navigation{
  text-align: left;
  display: block;
  width:auto;
  button{
    color:$button-active-color;
    overflow: hidden;
    a{
      width:140px;
      background-color: #fff;
    }
    a.active{
      color: $button-active-color;
      background-color: $button-active-bg-color;
    }
  }
  button:focus{
    outline: none;
  }
}
.MuiSelect-outlined.MuiSelect-outlined{
  height:40px;
  box-sizing: border-box;
  padding:4px 32px 4px 12px;
  font-size: 16px;
  letter-spacing: 0.15px;
}
.MuiSelect-select{
  background-color: #fff;
}
.MuiSelect-select:focus{
  background-color: #fff;
}
.MuiInputLabel-outlined {
  transform: translate(14px, 12px) scale(1);
}

