@import 'src/commons/styles/color.scss';
@import 'src/commons/styles/variables.scss';

$border: 1px solid $border-color;
.customer-info {
  .customer-content {
    margin-top: 28px;
    padding:40px 28px;
    border-radius: 8px;
    background-color: $paper-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
    height:690px;
    .info {
      overflow: auto;
      width: 100%;
      table {
        display: flex;
        flex-flow: column;
        height:calc(100vh - 324px);
        width: 100%;
        table-layout: auto;
        color: $black;
        background-color: $paper-color;
        border-radius: 4px;
        border:$border;
        thead {
          /* head takes the height it requires, 
              and it's not scaled when table is resized */
          flex: 0 0 auto;
          width: 100%; 
          position: sticky;
          top: 0;
          th{
            font-weight: 700;
            font-size: 14px;
            white-space: nowrap;
            border-bottom:none;
            border-top:none;
            position:relative;
          }
          th:nth-child(2):before,
          th:nth-child(3):before,
          th:nth-child(4):before{
            content:"";
            width:1px;
            height:14px;
            background-color:  $border-color;
            position:absolute;
            left:0;
            top:20px;
          }
        }
        tbody {
          /* body takes all the remaining available space */
          flex: 1 1 auto;
          display: block;
          height: calc(100vh - 378px);
          @media (min-width: $sm) {
            height: calc(100vh - 300px);
          }
          tr {
            width: 100%;
            td{
              font-size:14px;
            }
          }
          tr:last-of-type {
            width: 100%;
            border-bottom:$border;
          }
        }
        thead,
        tbody tr {
          display: table;
          table-layout: fixed;
          td,
          th {
            vertical-align: middle;
            padding: 0 0;
          }
          th{
            height:58px;
          }
          td{
            height:72px;
          }
        }
      }

  
    }
  }
}
