@import 'src/commons/styles/color.scss';
@import 'src/commons/styles/variables.scss';

.location-linkage {
  .linkage-content {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    @media (min-width: $sm) {
      flex-direction: row;
    }
    .dialog-list {
      width: 100%;
      margin-top: 5px;
      text-align: left;
      .dialog-row {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        @media (min-width: $sm) {
          flex-direction: row;
        }
        .dialog {
          width:100%;
          border: 1px solid $border-color;
          box-sizing: border-box;
          border-radius: 4px;
          text-align: left;
          color: $font-color-black;
          background-color:$paper-color;
          margin-bottom:24px;
          padding:24px;
          .header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            height: 45px;
            font-weight: 400;
            font-size: 20px;
            line-height: 1;
            letter-spacing: 0.15px;
            color:$font-color-black;
            // .notice {
            //   font-size: 12px;
            //   color: #e60033;
            // }
            .button {
              float:right;
              outline: none;
              border: none;
              width: 125px;
              height: 33px;
              display: flex;
              padding: 0;
              flex-direction: space-between;
              span {
                display: block;
                width: auto;
                font-weight: 600;
                font-size: 14px;
                line-height: 33px;
                color: $paper-color;
                text-align: center;
                padding-left:8px;
              }
            }
            .fb {
              background: $paper-color;
              border-radius: 4px;
              padding-left:4px;
              border: 1px solid $prime-color;
              span{
                color:$prime-color;    
              }
            }
            .gmb {
              background: #4c98dd;
              border-radius: 4px;
              padding-left: 4px;
            }
            .line {
              background: #61ff61;
              border-radius: 4px;
              padding-left: 4px;
            }
            .cms {
              background: #000000;
              border-radius: 4px;
              padding-left: 4px;
            }
          }

          .body {
            .mOpen{
              cursor:pointer;
            }
            .left {
              display: block;
              width: 100%;
              font-size: 16px;
              line-height:24px;
              letter-spacing: 0.15px;
              font-weight:400;
              color:$font-color-gray;
              white-space: pre-line;
              @media (min-width: $sm) {
                width: 80%;
              }
            }
            .right {
              display: inline-block;
              width: 100%;
              margin-top: 20px;
              .textbox {
                margin-top: 10px;
              }
              
            }
            .dialog-footer{
              display: flex;
              margin-top: 64px;
              flex-wrap: wrap;
              p{
                font-size:16px;
                line-height:24px;
                letter-spacing: 0.15px;
                font-weight:500;
                margin-bottom:0;
                span{
                  padding:0 0px 0 8px;              
                }
              }
              p:nth-child(1){
                min-width: 130px;
                color:$font-color-black;
              }
              p:nth-child(1) span{
                color:$prime-color;
              }
              p:nth-child(2),
              p:nth-child(3){
                color:$font-color-gray;
              }
              p:nth-child(1),
              p:nth-child(2){
                margin-right:27px;
              }
              .icon{
                width:24px;
                height:24px;
                margin-bottom:1px;
              }
            }
            .dialog-footer.line{
              margin-top:48px;
            }
          }
        }
        .status {
          display: block;
          margin: auto;
          font-size: 12px;
          font-weight: bold;
          text-align: left;
          span.ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 5px;
            max-width: 300px;
          }
          div.id-display {
            overflow: hidden;
            margin: 8px;
          }
          .icon-svg {
            height: 20px;
            width: 20px;
          }
        }
        .status .release {
          font-size: 9px;
          cursor: pointer;
          color: rgba(0, 0, 255, 0.63);
        }
        button{
          margin-top:0;
          width:100px;
          height:33px;
          line-height: 1;
        }
        .submit{
          margin:0;
        }
        .MuiInputBase-input.Mui-disabled {
          opacity: .5;
        }
      }
      .dialog-row:nth-of-type(4) .dialog .center>div{
        margin-bottom:8px;
      }
      .dialog-row:last-child{
        margin-bottom:0;
      }
    }
  }
  .modal{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display: none;
    .modalBack{
      position: fixed;
      left:0;
      top:0;
      width:100%;
      height:100%;
      background-color:rgba(0,0,20,.5);
    }
    #modalBody{
      opacity:0;
      transition:.5s;
      top:30%;
    }
    .modalBody{
      position: absolute;
      width: 489px;
      height: 413px;
      background: $paper-color;
      border-radius: 4px;
      padding:30px 30px 40px;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      .flex{
        justify-content: center;
        margin-top:120px;
      }
      .textArea{
        margin-bottom:0;
        fieldset{
          border:1px solid $border-color;
        }
        > div{
          background: $paper-color;
          width:100%;
          height:200px;
          textarea{
            height:100%;
            padding:0;
          }
        }
      }
      
    }
  }
}
