@import 'src/commons/styles/color.scss';
@import 'src/commons/styles/variables.scss';

.location-linkage {
  .linkage-content {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    @media (min-width: $sm) {
      flex-direction: row;
    }
    .MuiFormControl-root{
      display: block;
      margin-bottom:6px;
      input{
        height:33px;
        width:226px;
      }
    }
    .MuiOutlinedInput-input {
      padding: 4px 10px;
      box-sizing: border-box;
    }
    .dialog-list {
      width: 100%;
      margin-top: 5px;
      @media (min-width: $sm) {
        height: 637px;
        overflow: scroll;
      }
      .dialog-row {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        @media (min-width: $sm) {
          flex-direction: row;
        }
        .dialog {
          @media (min-width: $sm) {
            width: 631px;
            margin-bottom: 24px;
          }
          width:100%;
          border: 1px solid $gray;
          box-sizing: border-box;
          border-radius: 8px;
          text-align: left;
          color: $black;
          background-color:#fff;
          .header {
            display: flex;
            justify-content: left;
            align-items: center;
            height: 45px;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            padding: 12px 24px 0 24px;
            letter-spacing: 0.15px;
            .notice {
              font-size: 12px;
              color: #e60033;
            }
          }

          .body {
            padding: 0 24px 18px 24px;
            @media (min-width: $sm) {
              
            }
            .mOpen{
              cursor:pointer;
            }
            .left {
              display: block;
              width: 100%;
              font-size: 16px;
              line-height:24px;
              letter-spacing: 0.15px;
              font-weight:400;
              color:rgba(0,0,0,.6);
              white-space: pre-line;
              @media (min-width: $sm) {
                width: 75%;
              }
            }
            .right {
              display: inline-block;
              width: 100%;
              margin-top: 20px;
              .button {
                float:right;
                outline: none;
                border: none;
                width: 125px;
                height: 33px;
                display: flex;
                padding: 0;
                flex-direction: space-between;
                span {
                  display: block;
                  width: auto;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 33px;
                  color: $paper-color;
                  text-align: center;
                  padding-left:8px;
                }
              }
              .textbox {
                margin-top: 10px;
              }
              .fb {
                background: $button-active-color;
                border-radius: 4px;
                padding-left:6px;
                img{
                  margin-top:3px;
                }
              }
              .gmb {
                background: #4c98dd;
                border-radius: 4px;
                padding-left: 4px;
              }
              .line {
                background: #61ff61;
                border-radius: 4px;
                padding-left: 4px;
              }
              .cms {
                background: #000000;
                border-radius: 4px;
                padding-left: 4px;
              }
              .linked {
                background: #e3d7a3;
                font-weight: bold;
                border-radius: 4px;
                padding: 2px;
                display: flex;
                .icon {
                  margin: auto 3px;
                }
              }              
            }
            .dialog-footer{
              display: flex;
              margin-top: 9px;
              p{
                font-size:16px;
                line-height:24px;
                letter-spacing: 0.15px;
                font-weight:500;
                margin-bottom:0;
                span{
                  padding:0 0px 0 8px;              
                }
              }
              p:nth-child(1){
                min-width: 105px;
              }
              p:nth-child(1) span{
                color:$menu-hover-color;
              }
              p:nth-child(2),
              p:nth-child(3){
                color:rgba(0,0,0,.6);
                margin-left:27px;
              }
            }
            .dialog-footer.line{
              margin-top:50px;
            }
          }
        }
        .status {
          display: block;
          margin: auto;
          font-size: 12px;
          font-weight: bold;
          text-align: left;
          span.ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 5px;
            max-width: 300px;
          }
          div.id-display {
            overflow: hidden;
            margin: 8px;
          }
          .icon-svg {
            height: 20px;
            width: 20px;
          }
        }
        .status .linked {
          color: $text-color-selected;
        }
        .status .release {
          font-size: 9px;
          cursor: pointer;
          color: rgba(0, 0, 255, 0.63);
        }
      }
    }
  }
}
