@import '/src/commons/styles/color.scss';
.c-switch {
  $background: linear-gradient(
      180deg,
      $accent-color 99.99%,
      rgba(255, 255, 255, 0) 100%
    ),
    #dc9090;
  display: inline-flex;
  align-items: center;
  position: relative;
  justify-content: center;
  input[type='checkbox'] {
    height: 0;
    width: 0;
    display: none;
  }

  label {
    width: 22px;
    height: 10px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 7px;
    background-color:$switch-bg-color;
    cursor: pointer;
    display: block;
    border-radius: 999px;
    position: relative;
    margin-bottom:0;
  }
  input:checked + label{
    background-color:$switch-active-bg-color;
  }
  label:after {
    content: '';
    position: absolute;
    top: -3px;
    left: -4px;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 999px;
    transition: 0.3s;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 20%), 0px 1px 1px 0px rgba(0, 0, 0, 14%), 0px 1px 3px 0px rgba(0, 0, 0, 12%);

  }
  input:checked + label:after {
    position: absolute;
    top:-3px;
    transform: translateX(16px);
    width: 14px;
    height: 14px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 20%), 0px 1px 1px 0px rgba(0, 0, 0, 14%), 0px 1px 3px 0px rgba(0, 0, 0, 12%);
    border-radius: 999px;
    background-color: $button-active-color;
  }
}
