@import '/src/commons/styles/color.scss';
@import '/src/commons/styles/variables.scss';

.notification-modal {
  color: $black;
  text-align: center;
  padding: 122px 0 0 80px;
  @media (min-width: $sm) {
    padding: 61px 0 0 135px;
  }
  > .modal-dialog {
    margin-right: 15%;
    @media (min-width: $sm) {
      max-width: 90%;
      max-height: 85%;
    }
    > .modal-content {
      max-width: 250px;
      margin: 0 0 0 auto;
      height: 100%;
      width: 100%;
      @media (min-width: $sm) {
        width: 98%;
      }
      > .modal-body {
        position: relative;
        height: 90%;
        width: 100%;
        background: rgb(245, 245, 245);
        @media (min-width: $sm) {
          min-height: 100%;
        }
        > .setting {
          a {
            color: $black;
            font-weight: bold;
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
  div.pointer {
    cursor: pointer;
  }
}
