@import 'src/commons/styles/color.scss';
@import 'src/commons/styles/variables.scss';

.approval {
  padding: 15px 15px 0 25px;
  .bulk-button {
    width: 114px;
    height: 37px;
    background: linear-gradient(0deg, $accent-color, $accent-color),
      linear-gradient(180deg, #f15b5b 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 10px;
    color: $paper-color;
    border: 0;
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    outline: 0;
    @media (min-width: $sm) {
      top: 135px;
      right: 90px;
      position: absolute;
      &--sidebar {
        top: 85px;
      }
    }
  }
  > .filter-pages {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3px;
    margin-top:33px;
    > .sub-header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 12px;
      margin-right: 18px;
      div.dropdown {
        .btn:focus,
        .btn.focus {
          box-shadow: none;
        }
        .dropdown-menu {
          a {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
      .dropdown-toggle::after {
        content: none;
      }
    }
  }
  > .approval-table {
    overflow-x: auto;
    padding:30px;
    border-radius: 16px;
    margin-top:25px;
    background-color: #fff;
    .flex{
      justify-content: flex-start;
      text-align: left;
      margin-bottom:35px; 
    }
    .search input{
      font-size: 12px;
      height: 40px;
      box-sizing: border-box;
      padding-left:14px;
    }
    .button{
      color:#fff;
      background-color: $button-active-color;
      font-weight: 500;
      font-size: 14px;
      width:65px;
      height:40px;
      margin-left:13px;
    }
    .button:focus{
      outline: none;
    }
    > div.table {
      table-layout: fixed;
      border-radius: 4px;
      border: 1px solid #e0e0e0;
      overflow: hidden;
      overflow-x: scroll;
      > div.thead,
      div.tbody {
        display: block;
        min-width: 1220px;
      }
      span.highlight {
        svg {
          path {
            fill: $text-color-selected;
          }
        }
      }
      > div.tbody .cell {
        color: $black;
      }
      > div.thead div.row,
      div.tbody div.row {
        width: 100%;
        height: 45px;
        text-align: center;
        margin: 0;
        > div.cell {
          font-weight: bold;
          font-size: 14px;
          line-height: 21px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: 1px solid rgba(0, 0, 0, 0.22);
          margin: 0 0;
          position: relative;
        }
        > div.cell.content {
          display: block;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .remand-icon {
          margin-right: 5px;
          transform: rotate(-180deg);
        }
      
      }
      > div.thead div.row,
      div.tbody div.row {
        table-layout: fixed;
        .border-none {
          background: none !important;
          border-right: none !important;
          border-top: none !important;
          border-bottom: none !important;
        }
      }
      > div.tbody {
        height: 675px;
        overflow-y: auto;
        overflow-x: hidden;
        div.row div.cell {
          font-weight: normal;
          cursor: pointer;
        }
        div.row:nth-child(odd) {
          div.cell {
            background: $background-color-list-odd;
          }
        }
      }
      div.thead div.row div.cell {
        border-bottom: 1px solid rgba(0, 0, 0, 0.22);
        position:relative;
      }
      div.thead div.row div.cell:before {
        content:"";
        width:1px;
        height:12px;
        background-color:rgba(0, 0, 0, 0.22);
        position:absolute;
        left:0;
      }
      div.thead div.row div.cell:nth-child(1):before {
        width: 0;
      }
      span.ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 5px;
      }
    }
  }
}
.MuiCheckbox-colorSecondary.Mui-checked {
  color: #cc0099;
}
input[type='checkbox']{
  position:absolute;
}
.MuiOutlinedInput-adornedStart{
  padding-left:4px;
}